In [27]:
# Célula de imports

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

### 1 . Análise do DataFrame

In [12]:
# Carrega o DataSet
df = pd.read_csv("heart.csv")

In [ ]:
# Número de linha no data frame
print(f"Número de linhas: {len(df)}")

# Dispõe os primeiros itens do DataFrame
df.head(n = 7)

Número de linhas: 918

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0

In [14]:
# Mostra o tipo dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [15]:
# Descrição dos dados
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [18]:
#  Analisa quantos valores diferentes tem em cada feature
for column in df.columns:
    qtd = len(df[column].unique())
    print(f"{column}: {qtd} valor(es)")

Age: 50 valor(es)
Sex: 2 valor(es)
ChestPainType: 4 valor(es)
RestingBP: 67 valor(es)
Cholesterol: 222 valor(es)
FastingBS: 2 valor(es)
RestingECG: 3 valor(es)
MaxHR: 119 valor(es)
ExerciseAngina: 2 valor(es)
Oldpeak: 53 valor(es)
ST_Slope: 3 valor(es)
HeartDisease: 2 valor(es)

### 2. Tratamento dos Dados

##### Valores nulos

In [24]:
# Verificando se há valores nulos:
null_mask = df.isnull().sum()
print(f"Quantidade de valores nulos por feature\n{null_mask}")

Quantidade de valores nulos por feature
Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

##### Codificação

One Hot Encoder

In [38]:
# Codificação usando One Hot Encoder

# Define as colunas que serão codificadas
categorical_cols = ["ChestPainType", "RestingECG", "ST_Slope", "Sex", "ExerciseAngina"]

# Realiza a codificação
df_encoded = pd.get_dummies(df, columns=categorical_cols, dtype=int)

# Imprime DataFrame codificado 
df_encoded.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,...,RestingECG_LVH,RestingECG_Normal,RestingECG_ST,ST_Slope_Down,ST_Slope_Flat,ST_Slope_Up,Sex_F,Sex_M,ExerciseAngina_N,ExerciseAngina_Y
0,40,140,289,0,172,0.0,0,0,1,0,...,0,1,0,0,0,1,0,1,1,0
1,49,160,180,0,156,1.0,1,0,0,1,...,0,1,0,0,1,0,1,0,1,0
2,37,130,283,0,98,0.0,0,0,1,0,...,0,0,1,0,0,1,0,1,1,0
3,48,138,214,0,108,1.5,1,1,0,0,...,0,1,0,0,1,0,1,0,0,1
4,54,150,195,0,122,0.0,0,0,0,1,...,0,1,0,0,0,1,0,1,1,0

In [39]:
# Imprime o tipo de cada coluna
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                918 non-null    int64
 1   RestingBP          918 non-null    int64
 2   Cholesterol        918 non-null    int64
 3   FastingBS          918 non-null    int64
 4   MaxHR              918 non-null    int64
 5   Oldpeak            918 non-null    float64
 6   HeartDisease       918 non-null    int64
 7   ChestPainType_ASY  918 non-null    int64
 8   ChestPainType_ATA  918 non-null    int64
 9   ChestPainType_NAP  918 non-null    int64
 10  ChestPainType_TA   918 non-null    int64
 11  RestingECG_LVH     918 non-null    int64
 12  RestingECG_Normal  918 non-null    int64
 13  RestingECG_ST      918 non-null    int64
 14  ST_Slope_Down      918 non-null    int64
 15  ST_Slope_Flat      918 non-null    int64
 16  ST_Slope_Up        918 non-null    int64
 17  Sex_F              918 non-null    int64
 18  Sex_M              918 non-null    int64
 19  ExerciseAngina_N   918 non-null    int64
 20  ExerciseAngina_Y   918 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 150.7 KB